@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #ffffff;
  color: #0b0d16; /* dark foreground */
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 1rem .5rem 1rem .5rem; */

  /* overflow-y: hidden; */
}
.customscrollbar {
  overflow-y: auto;
}

.customscrollbar::-webkit-scrollbar-track {
  background-color: #1e2330;
  border-radius: 4px;
}

.customscrollbar::-webkit-scrollbar {
  width: 8px;
}

.customscrollbar::-webkit-scrollbar-thumb {
  background-color: #4f576b;
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
